/*
Name: Suzanne Piver and Miya Nakata
Date: 5/9/2023
Section: CSE154 AA
{ADD DESCRIPTION}
*/

*{
  margin: 0;
  padding: 0;
  background-color: #FCF9EF;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 2%;
  background-color: #4F4646;
}

header a {
  background-color: #4F4646;
}

.logo, .searchTerm {
  margin-right: auto;
  margin-left: 20px;
}

.nav-icon, .logo {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  background-color: #4F4646;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  background-color: #4F4646;
}

.nav-links li a {
  background-color: #4F4646;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  /* add an underline underneath the icon */
}