/*
Name: Suzanne Piver and Miya Nakata
Date: 5/9/2023
Section: CSE154 AA
{ADD DESCRIPTION}
*/

*{
  margin: 0;
  padding: 0;
  background-color: #FCF9EF;
}
/* Start: Header Nav Bar */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 2%;
  background-color: #4F4646;
}

header a {
  background-color: #4F4646;
}

.logo, .searchTerm {
  margin-right: auto;
  margin-left: 20px;
}

.nav-icon, .logo {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  background-color: #4F4646;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  background-color: #4F4646;
}

.nav-links li a {
  background-color: #4F4646;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  /* add an underline underneath the icon */
}
/* End: Header Nav Bar */

#justAdded {
  margin-right: 15px;
  margin-left: 10px;
  width: 900px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#justAdded div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto; /*three image per row */
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

#justAdded div img {
  width: 100%;
  transition: transform 0.5s;
}

#justAdded div img:hover {
  box-shadow: 0px 0px 10px #4F4646;
  transform: scale(1.1);
}

#justAdded::-webkit-scrollbar {
  display: none;
}

#justAddedScroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#leftButton, #rightButton {
  max-width: 8%;
  height: auto;
  cursor: pointer;
}

#leftButton:hover, #rightButton:hover {
  box-shadow: 0px 0px 10px #4F4646;
}

#justAdded {
  margin-right: 15px;
  margin-left: 10px;
  width: 900px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#justAdded div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto; /*three image per row */
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

#justAdded div img {
  width: 100%;
  transition: transform 0.5s;
}

#justAdded div img:hover {
  box-shadow: 0px 0px 10px #4F4646;
  transform: scale(1.1);
}

#justAdded::-webkit-scrollbar {
  display: none;
}

#justAddedScroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#leftButton, #rightButton {
  max-width: 8%;
  height: auto;
  cursor: pointer;
}

#leftButton:hover, #rightButton:hover {
  box-shadow: 0px 0px 10px #4F4646;
}